@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap");
@media (max-width: 375px) {
  .NavigationContainer {
    margin-top: 10%;
  }
  .NavigationContainer .Navigation {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .navitem a {
    font-size: 0.75rem;
  }
  .hero {
    width: 90%;
  }
  .hero h1 {
    font-size: 1rem;
  }
  .hero p {
    font-size: 1rem;
  }
  .About {
    flex-direction: column;
  }
  .About .AboutContainer {
    flex-direction: column;
  }
  .About .AboutContainer .Abouttext {
    width: 100%;
    text-align: center;
  }
  .About .AboutContainer .Abouttext p {
    font-size: 0.25rem;
  }
  .ContactContainer {
    flex-direction: column;
  }
  .ContactContainer .contactcontent {
    width: 80%;
  }
  .ContactContainer .contactcontent h1 {
    font-size: 1.5rem;
  }
  .PicContainer {
    height: 100px;
    width: 100px;
  }
  .WorkContainer {
    width: 100%;
  }
  .WorkPicContainer {
    height: 50%;
    width: 50%;
  }
  .footer {
    height: 10vh;
  }
  .footer .FooterContent {
    width: 80%;
  }
  .footer .FooterContent p {
    font-size: 0.75rem;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
header {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavigationContainer {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 5%;
  position: fixed;
  align-items: center;
}
.NavigationContainer .Navigation {
  display: flex;
  justify-content: center;
  list-style-type: none;
  -moz-column-gap: 30px;
       column-gap: 30px;
  text-decoration: none;
}
.NavigationContainer .Navigation a {
  text-decoration: none;
  color: inherit;
}
.NavigationContainer .Navigation a:focus, .NavigationContainer .Navigation a:active {
  outline: none;
}

.navitem a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  animation: slideIn 2s ease-in-out;
}

.HeroPage {
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-position: center 10%;
  animation: fadeIn 2s ease-in-out;
}

.hero {
  margin: auto;
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero h1 {
  font-size: 6.5rem;
  color: #ffaa33;
  animation: slideIn 1.5s ease-in-out;
  font-family: "Chivo", sans-serif;
}
.hero p {
  font-size: 1.25rem;
  color: #fff;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  animation: slideIn 2s ease-in-out;
}

.About {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(./about.jpg);
  background-size: cover;
  background-position: center 10%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.About.visible {
  opacity: 1;
  animation: fadeIn 2s ease-in-out;
}
.About .AboutContainer {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding: 5px;
  height: 90vh;
  align-items: center;
}
.About .AboutContainer .Abouttext {
  width: 60%;
  margin-left: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.About .AboutContainer .Abouttext p {
  font-size: 1.75rem;
  color: #fff;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  animation: slideIn 2s ease-in-out;
}

.Contact {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-image: url(./contacts2.jpg);
  background-size: cover;
  background-position: center 10%;
}
.Contact.visible {
  opacity: 1;
  animation: fadeIn 2s ease-in-out;
}

.ContactContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  -moz-column-gap: 10%;
       column-gap: 10%;
  height: 80%;
}
.ContactContainer .contactcontent {
  height: 90%;
  display: flex;
  align-items: center;
  width: 45%;
  justify-content: center;
  flex-direction: column;
  transition: ease-in-out 0.5s;
}
.ContactContainer .contactcontent h1 {
  font-size: 2.25rem;
  color: #ffaa33;
  margin-top: 40px;
  font-family: "Chivo", sans-serif;
}
.ContactContainer .contactcontent p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.ContactContainer .contactcontent:hover {
  transform: scale(1.3);
}

.PicContainer {
  height: 150px; /* Adjust height as needed */
  width: 150px; /* Adjust width as needed */
}
.PicContainer img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain; /* Ensure image scales without distortion */
}

.Works {
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  background-image: url(./works2.jpg);
  background-size: cover;
  background-position: center 10%;
  opacity: 0;
}
.Works.visible {
  opacity: 1;
  animation: fadeIn 2s ease-in-out;
}
.Works .WorkContainer {
  width: 90%;
  height: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.WorkPicContainer {
  height: 100%; /* Adjust height as needed */
  width: 100%; /* Adjust width as needed */
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.WorkPicContainer a {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.WorkPicContainer img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain; /* Ensure image scales without distortion */
  transition: ease-in-out 1.1s;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.WorkPicContainer img:hover {
  transform: scale(1.2);
  filter: grayscale(0%);
}

.footer {
  width: 100%;
  height: 15vh;
  background-image: url(./contact.jpg);
  background-size: cover;
  background-position: center 10%;
}
.footer .FooterContent {
  margin: auto;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer .FooterContent p {
  font-size: 1rem;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}/*# sourceMappingURL=styling.css.map */