$outline-color: green;
$outline-width: 2px;
$background-image-url: "../images/hero.jpg";
$background-position-y: 10%;
$hero-width: 50%;
$hero-height: 100vh;
$hero-font-size: 4.5rem;
$hero-font-color: #ffaa33;
$paragraph-font-size: 1.25rem;
$paragraph-font-color: #fff;
$paragraph-font-family: Arial, Helvetica, sans-serif;
$nav-font-size: 1rem;
$nav-font-color: white;
$nav-font-family: Arial, Helvetica, sans-serif;
